{% extends 'base.html' %}

{% block title %}Yangilik qo'shish{% endblock %}

{% block content %}
<h1>Yangilik qo'shish</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field.errors }}</div>
    {% for f in form %}

    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit" class="btn">Saqlash</button>
</form>

{% endblock %}